---
title: 'Feature Support'
layout: base.njk
---
<div class="container">
        <div id="contents" class="">
        

<h1>Feature Support</h1>


   <h2 id="3" class="features-ts">EPUB 3</h2>
    
        <h3 id="13" class="features-category">XHTML</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/inline-frames/">Inline Frames</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/image-formats/">Image Formats</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/audio/">Audio</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/video/">Video</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/epub-trigger/">epub:trigger</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/namespaces/">Namespaces</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/mathml/">MathML</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/fallbacks/">Fallbacks</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/document-flow/">Document Flow</a></li>
        
        </ul>
    
        <h3 id="14" class="features-category">SVG</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/shapes/">Shapes</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/svg-styling/">Styling</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/positioning/">Positioning</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/rotating/">Rotating</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/svg-xhtml-support/">XHTML Support</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/image-embedding/">Image Embedding</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/svg-in-spine/">SVG Support in Spine</a></li>
        
        </ul>
    
        <h3 id="15" class="features-category">EPUB Style Sheets</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/multicolumn-layouts/">Multi-Column Layouts</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/css-namespaces/">CSS Namespaces</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/list-styling/">List Styling</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/text-transforms/">Text Transforms</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/media-rules/">@media Rules</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/epub-ruby-position-property/">The -epub-ruby-position property</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/alternate-style-tags/">Alternate Style Tags</a></li>
        
        </ul>
    
        <h3 id="16" class="features-category">Scripting</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/epub-reading-system/">epubReadingSystem</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/xml-http-request/">XMLHttpRequest</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/jsonp/">JSONP</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/filesystem/">Filesystem</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/geolocation/">Geolocation</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/scripting-contexts/">Scripting contexts</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/canvas/">Canvas</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/form-elements/">Form elements</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/input-types/">Input Types</a></li>
        
        </ul>
    
        <h3 id="17" class="features-category">Fonts</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/ttf/">TTF</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/otf/">OTF</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/woff/">WOFF</a></li>
        
        </ul>
    
        <h3 id="18" class="features-category">Media Overlays</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/playback/">Media Overlays Playback</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/highlighting/">Highlighting</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/mo-audio/">Audio</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/skippability/">Skippability</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/escapability/">Escapability</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/navigation/">Navigation</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/embedded-media/">Embedded Media</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/fixed-layouts/">Fixed Layouts</a></li>
        
        </ul>
    
        <h3 id="19" class="features-category">Global Language Support</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/text-direction/">Text direction</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/gls-styling/">Styling</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/links/">links</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/character/">character</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/paragraph-style/">paragraph style</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/ruby/">ruby</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/text-style/">Text style</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/images/">Images</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/double-column-layout/">Double column layout</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/ppd/">Page progression direction</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/glyph-display/">Glyph display</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/justification/">Justification</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/directionality-chars/">Directionality characters</a></li>
        
        </ul>
    
        <h3 id="20" class="features-category">Content Fragment Identifiers</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/intra-publication-linking/">Intra-Publication Linking</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/inter-publication-linking/">Inter-Publication Linking</a></li>
        
        </ul>
    
        <h3 id="21" class="features-category">Navigation</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/toc-nav/">toc nav</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/landmarks-nav/">landmarks nav</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/page-list-nav/">page-list nav</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/custom-nav-elements/">Custom nav elements</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/spine-rendering/">Spine rendering</a></li>
        
        </ul>
    
        <h3 id="22" class="features-category">Fixed Layouts</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/fixed-layout-support/">Fixed Layout Support</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/synthetic-spreads/">Synthetic Spreads</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/orientation/">Orientation</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/spine-override/">Spine Override</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/epub3/feature/rtl-ppd/">Right-to-left Page Progression Direction</a></li>
        
        </ul>
    

   <h2 id="9" class="features-ts">Accessibility</h2>
    
        <h3 id="49" class="features-category">Basic Functionality</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/basic-functionality/">Basic Functionality</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/a11y-navigation/">Navigation</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/annotation/">Highlights, Notes, and Bookmarks</a></li>
        
        </ul>
    
        <h3 id="50" class="features-category">Non-Visual Reading</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/non-visual-reading/">Non-Visual Reading</a></li>
        
        </ul>
    
        <h3 id="51" class="features-category">Visual Adjustment Tests</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/visual-adjustment/">Visual Adjustment</a></li>
        
        </ul>
    
        <h3 id="52" class="features-category">Read Aloud</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/read-aloud/">Read Aloud</a></li>
        
        </ul>
    
        <h3 id="53" class="features-category">Media Overlays</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/mo-basic-tests/">Basic Tests</a></li>
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/mo-nav-tests/">Navigation Tests</a></li>
        
        </ul>
    
        <h3 id="54" class="features-category">Math</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/mathml-a11y-tests/">MathML</a></li>
        
        </ul>
    
        <h3 id="55" class="features-category">Extended Descriptions</h3>
        <ul class="colwrap-list">
        
            <li><a href="/old-epub3-support-grid/testsuite/accessibility/feature/exteded-descriptions-a11y-tests/">Extended descriptions</a></li>
        
        </ul>
    



        </div>

        
    </div>