---
title: 'EPUBTest'
layout: base.njk
---
<div class="container">
        <div id="contents" class="">
        

<h1>Welcome to the EPUB 3 Support Grid</h1>

<p class="start">This site provides current reading system support information for EPUB 3 features.</p>

<p class="start">To discover more, please select the area you're most interested in:</p>

<nav id="support-nav">
    <div class="framing">
        <a class="button lower" href="/old-epub3-support-grid/testsuite/epub3/">
            <span class="button-hd">Reading Systems</span>
            <span class="button-label">Start here if you are looking for overall support for EPUB 3 in a specific reading system.</span>
        </a>
        <a class="button" href="/old-epub3-support-grid/features/">
            <span class="button-hd">Features</span>
            <span class="button-label">Start here if you are looking for support for a specific feature of EPUB 3 across all reading systems.</span>
        </a>
        <a class="button lower" href="/old-epub3-support-grid/testsuite/accessibility/">
            <span class="button-hd">Accessibility</span>
            <span class="button-label">Start here if you are looking for more information about support for accessibility in reading systems.</span>
        </a>
    </div>
    <br>
</nav>

<h2 id="support-grid" class="pad-top">About the BISG EPUB 3 Support Grid</h2>
<p>The EPUB 3 Support Grid is a resource for determining what features of EPUB 3.0 render correctly on the most commonly used devices, apps, and reading systems. </p>

<p>Looking to validate an EPUB file? Go to <a href="http://validator.idpf.org" target="_blank">validator.idpf.org</a>.</p>

<h2 id="testsuite" class="pad-top">About the Test Suite </h2>

<p>The Test Suite is a set of <a target="_blank" href="https://www.w3.org/publishing/epub3/epub-overview.html">EPUB 3</a> files designed to enable anyone to test a reading system's support of various EPUB 3 features and its support for accessibility. It does not include a set of test files for each EPUB 3 specs feature but a rigorous performance evaluation of the most commonly used essential features. The current testing process involves manual evaluation and recording of results.  See the <a href="/testsuite/">Test Suite</a> page for more details.</p>



        </div>

        
    </div>